Repository UAICP/uaicp_website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rishirandhawa, @frontend-team, @senior-developers, @content-team, @technical-writers, @blog-editors, @design-team, @devops-team, @documentation-team, @legal-team, @seo-team, @performance-team, @accessibility-team, @security-team

feat: Add GitHub Pages setup with custom domain uaicp.org
  .github/workflows/pages-deploy.yml
  .nojekyll
  CNAME
  GITHUB_PAGES_SETUP.md
  index.html
  robots.txt
  sitemap.xml
Owners: @rishirandhawa, @devops-team

fix: Update CI workflows for static HTML website
  .github/workflows/build-test.yml
  .github/workflows/deploy.yml
  .github/workflows/pages-deploy.yml
Owners: @rishirandhawa, @devops-team

fix: Update workflow job names to match ruleset requirements
  .github/workflows/build-test.yml
Owners: @rishirandhawa, @devops-team

Add GitHub Pages setup with custom domain uaicp.org (#1)
  .github/workflows/build-test.yml
  .github/workflows/deploy.yml
  .nojekyll
  CNAME
  GITHUB_PAGES_SETUP.md
  index.html
  robots.txt
  sitemap.xml
Owners: @rishirandhawa, @devops-team

🔧 Fix mobile hamburger menu for iPhone Max, Android, and iPad
  ANDROID_COMPATIBILITY.md
  IPAD_COMPATIBILITY.md
  MOBILE_FIX_REPORT.md
  mobile-test.html
  src/css/custom.css
Owners: @rishirandhawa, @frontend-team

🔧 Fix Mobile Hamburger Menu for iPhone Max, Android, and iPad (#3)
  ANDROID_COMPATIBILITY.md
  IPAD_COMPATIBILITY.md
  MOBILE_FIX_REPORT.md
  mobile-test.html
  src/css/custom.css
Owners: @rishirandhawa, @frontend-team

🔧 Fix hamburger menu overlap on iPhone Max
  src/css/custom.css
Owners: @rishirandhawa, @frontend-team

Add updated mobile test page with overlap diagnostic
  mobile-test.html
Owners: @rishirandhawa

Move mobile test to static directory for proper serving
  static/mobile-test.html
Owners: @rishirandhawa

Fix custom domain by adding CNAME to static directory
  static/CNAME
Owners: @rishirandhawa

🚀 Fix mobile header responsiveness and improve navbar
  src/css/custom.css
Owners: @rishirandhawa, @frontend-team

🔧 Fix deployment workflow conflicts and improve reliability
  .github/workflows/deploy.yml
  .github/workflows/pages-deploy.yml.disabled
Owners: @rishirandhawa, @devops-team

🗑️ Remove unused pages-deploy.yml workflow
  .github/workflows/pages-deploy.yml.disabled
Owners: @rishirandhawa, @devops-team

🔧 Fix build-test workflow for Docusaurus
  .github/workflows/build-test.yml
Owners: @rishirandhawa, @devops-team

🔧 Fix YAML syntax error in build-test workflow
  .github/workflows/build-test.yml
Owners: @rishirandhawa, @devops-team

🔗 Fix broken links causing workflow #18 to fail
  docusaurus.config.ts
Owners: @rishirandhawa

🔗 Link deploy workflow to build-test workflow completion
  .github/workflows/deploy.yml
Owners: @rishirandhawa, @devops-team

🤝 Update website community automation to be website-specific
  .github/workflows/community.yml
Owners: @rishirandhawa, @devops-team

fix: resolve mobile hamburger menu issue
  docusaurus.config.ts
  package.json
  src/css/custom.css
Owners: @rishirandhawa, @devops-team, @frontend-team

feat: enforce content sync from specification repo
  .github/workflows/deploy.yml
Owners: @rishirandhawa, @devops-team

feat: update logo with transparent background
  docusaurus.config.ts
  static/img/logo-new-updated.svg
  static/img/logo-no-background.svg
Owners: @rishirandhawa

feat: optimize logo with cropping and cleanup
  .nvmrc
  LOGO_IMPLEMENTATION.md
  docusaurus.config.ts
  src/css/custom.css.backup
  static/img/custom-logo.svg
  static/img/logo-clean.svg
  static/img/logo-cropped.svg
  static/img/logo-icon.svg
  static/img/logo-minimal.svg
  static/img/logo-new.svg
  static/img/logo-no-background.svg
  static/img/logo-ultra-minimal.svg
  static/img/logo.svg
  static/img/uaicp_icon_32.svg
Owners: @rishirandhawa, @frontend-team

feat: Comprehensive SEO optimization implementation
  SEO_OPTIMIZATION_REPORT.md
  blog/2025-01-20-introducing-uaicp.md
  docs/specification/introduction.md
  docusaurus.config.ts
  src/pages/index.tsx
  src/pages/sitemap.tsx
  static/robots.txt
  tests/uaicp-website-comprehensive-test.spec.ts
Owners: @rishirandhawa, @frontend-team

fix: Optimize homepage typography and remove redundant content
  src/pages/index.module.css
  src/pages/index.tsx
Owners: @rishirandhawa, @frontend-team

.github/CODEOWNERS:

# UAICP Website Code Owners
# This file defines who should review specific parts of the website codebase

# Global owners - these users will be requested for review on all PRs
* @rishirandhawa

# Source code
/src/ @rishirandhawa @frontend-team
/src/components/ @rishirandhawa @frontend-team
/src/components/core/ @rishirandhawa @frontend-team @senior-developers

# Content and documentation
/content/ @rishirandhawa @content-team
/content/docs/ @rishirandhawa @content-team @technical-writers
/content/blog/ @rishirandhawa @content-team @blog-editors

# Public assets
/public/ @rishirandhawa @content-team @design-team
/public/images/ @rishirandhawa @design-team
/public/icons/ @rishirandhawa @design-team

# Styling and design
/src/styles/ @rishirandhawa @design-team @frontend-team
/src/components/ui/ @rishirandhawa @design-team @frontend-team

# Configuration files
/.github/ @rishirandhawa @devops-team
/.github/workflows/ @rishirandhawa @devops-team
/package.json @rishirandhawa @devops-team
/package-lock.json @rishirandhawa @devops-team
/next.config.js @rishirandhawa @devops-team @frontend-team
/tailwind.config.js @rishirandhawa @design-team @frontend-team

# Documentation
/README.md @rishirandhawa @documentation-team
/CONTRIBUTING.md @rishirandhawa @documentation-team
/LICENSE.md @rishirandhawa @legal-team

# Deployment and infrastructure
/.github/workflows/deploy.yml @rishirandhawa @devops-team
/vercel.json @rishirandhawa @devops-team
/netlify.toml @rishirandhawa @devops-team

# SEO and metadata
/src/lib/seo.ts @rishirandhawa @seo-team @content-team
/public/sitemap.xml @rishirandhawa @seo-team
/public/robots.txt @rishirandhawa @seo-team

# Performance critical files
/src/lib/performance/ @rishirandhawa @performance-team @senior-developers
/lighthouse.config.js @rishirandhawa @performance-team

# Accessibility files
/src/lib/accessibility/ @rishirandhawa @accessibility-team
/.axerc.json @rishirandhawa @accessibility-team

# Security-sensitive files
/.github/workflows/security.yml @rishirandhawa @security-team
/src/lib/security/ @rishirandhawa @security-team
